.fundo{
    background-color:bisque;

    text-align: center;
}


.intervalo{
    text-align: center;
}
.terça{
    background-color: bisque;
    text-align: center;
}
.quarta{
    background-color: bisque;
    text-align: center;
}
.quinta{
    background-color: bisque;
    text-align: center;
}
.sexta{
    background-color: bisque;
    text-align: center;

}
.livre{
    text-align: center;
}
